<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<session-config> 
        <session-timeout>120</session-timeout>
    </session-config>
	
	<servlet>
    	<servlet-name>Connexion</servlet-name>
    	<servlet-class>servlets.Connexion</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>CreationUtilisateur</servlet-name>
        <servlet-class>servlets.CreationUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherProfilAdmin</servlet-name>
        <servlet-class>servlets.AfficherProfilAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerUtilisateurs</servlet-name>
    <servlet-class>servlets.ListerUtilisateurs</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>SuppressionUtilisateur</servlet-name>
        <servlet-class>servlets.SuppressionUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherUtilisateur</servlet-name>
    <servlet-class>servlets.AfficherUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationUtilisateur</servlet-name>
        <servlet-class>servlets.ModificationUtilisateur</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>Deconnexion</servlet-name>
    	<servlet-class>servlets.Deconnexion</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>SurveyCreation</servlet-name>
        <servlet-class>servlets.SurveyCreation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SurveyList</servlet-name>
    	<servlet-class>servlets.SurveyList</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>SurveyDisplay</servlet-name>
    	<servlet-class>servlets.SurveyDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SurveyModification</servlet-name>
    	<servlet-class>servlets.SurveyModification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SurveyDeletion</servlet-name>
        <servlet-class>servlets.SurveyDeletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionCreation</servlet-name>
        <servlet-class>servlets.QuestionCreation</servlet-class>
    </servlet>
   	<servlet>
        <servlet-name>QuestionDisplay</servlet-name>
        <servlet-class>servlets.QuestionDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionModification</servlet-name>
        <servlet-class>servlets.QuestionModification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionDeletion</servlet-name>
        <servlet-class>servlets.QuestionDeletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerCreation</servlet-name>
        <servlet-class>servlets.AnswerCreation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerModification</servlet-name>
        <servlet-class>servlets.AnswerModification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerDisplay</servlet-name>
        <servlet-class>servlets.AnswerDisplay</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>AnswerDeletion</servlet-name>
        <servlet-class>servlets.AnswerDeletion</servlet-class>
    </servlet>


	<servlet-mapping>
    	<servlet-name>Connexion</servlet-name>
    	<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>AfficherProfilAdmin</servlet-name>
        <url-pattern>/afficherProfilAdmin</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>CreationUtilisateur</servlet-name>
        <url-pattern>/creationUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ListerUtilisateurs</servlet-name>
    	<url-pattern>/listerUtilisateurs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>SuppressionUtilisateur</servlet-name>
        <url-pattern>/suppressionUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherUtilisateur</servlet-name>
        <url-pattern>/afficherUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationUtilisateur</servlet-name>
        <url-pattern>/modificationUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Deconnexion</servlet-name>
    	<url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>SurveyCreation</servlet-name>
        <url-pattern>/surveyCreation</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>SurveyList</servlet-name>
        <url-pattern>/surveyList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyDeletion</servlet-name>
        <url-pattern>/surveyDeletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyDisplay</servlet-name>
        <url-pattern>/surveyDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyModification</servlet-name>
        <url-pattern>/surveyModification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionCreation</servlet-name>
        <url-pattern>/questionCreation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionModification</servlet-name>
        <url-pattern>/questionModification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionDisplay</servlet-name>
        <url-pattern>/questionDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionDeletion</servlet-name>
        <url-pattern>/questionDeletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerCreation</servlet-name>
        <url-pattern>/answerCreation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerModification</servlet-name>
        <url-pattern>/answerModification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerDisplay</servlet-name>
        <url-pattern>/answerDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerDeletion</servlet-name>
        <url-pattern>/answerDeletion</url-pattern>
    </servlet-mapping>
    
    
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>PreloadingFilter</filter-name>
        <filter-class>filters.PreloadingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PreloadingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <listener>
		<listener-class>config.InitialisationDaoFactory</listener-class>
    </listener>
</web-app>
